img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
  }
body {
    background: hsla(50, 33%, 25%, .75);
    background: linear-gradient(to right, #f3f5f5, #f3f5f5);
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .btn-google {
    color: white;
  }
  
  .btn-facebook {
    color: white;
  }
  
  .btn-bobbleai {
    color: white;
    background-color: #2894b4;
  }